<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <appSettings>
    <add key="M365Account" value=""/>
    <add key="M365Password" value=""/>
    <add key="EmployeeID" value="xxxxxx"/>
    <add key="SettlementType" value="10日"/>
    <add key="Attendance_SiteUrl" value="https://xxxx.sharepoint.com/sites/xxxx/"/>
    <add key="Attendance_ListName" value="Attendance"/>
    <add key="Workloads_SiteUrl" value="https://xxxx.sharepoint.com/sites/xxxx/"/>
    <add key="Workloads_ListName" value="Workloads"/>
    <add key="Expenses_SiteUrl" value="https://xxxx.sharepoint.com/sites/xxxx/"/>
    <add key="Expenses_ListName" value="Expenses"/>
  </appSettings>
</configuration>